# Variable names match those available in GitHub Actions workflows
# See: https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/store-information-in-variables#default-environment-variables
export GITHUB_REPOSITORY=swinton/example-snyk
export GITHUB_SHA=$( git rev-parse HEAD )
export GITHUB_REF=$( git symbolic-ref  HEAD )
